@import "./Global.scss";

.title {
    font-size: 2em;
}

.buttons {
    display: flex;
}

.danger {
    composes: button;
    color: red;
}

.container {
    composes: padded;
    height: $heightAfterNavbar;
    overflow-y: scroll;
    box-sizing: border-box;
}
