@import "./Global.scss";

.button {
    composes: button from "./HeaderBar.module.scss";
}

/*
Container wraps the 2 columns, setting up flex layout, and scroll snap.
It's paretns is HeaderBar's content div so it's a flex child also.
*/
.container {
    flex: 1;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: $font;
}

/*
Left and right columns use 1:3 flex ratio, and feature start scroll snap
*/

.right,
.left {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

.left {
    flex: 1;
    background-color: $bgTop;
}

.right {
    flex: 3;
    background-color: $bgBottom;
}

/*
On mobile/small screens, left and right take a full page width.
They will be scrolled between using the scroll snap.
*/

@media screen and (max-width: 900px) {
    .left,
    .right {
        flex: none;
        width: 100vw;
        transform: rotateY(180deg);
    }
    .container {
        transform: rotateY(180deg);
    }
}
