@import "./Global.scss";

.container {
  height: $heightAfterNavbar;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $bgDark;
}
