$bgTop: #1a1a1a;
$bgBottom: #212121;
$font: rgb(220, 220, 220);
$fontDark: rgb(200, 200, 200);
$outline: black solid 0.2pt;
$outlineInverted: $font solid 0.2pt;
$outlineActive: $fontDark solid 0.2pt;
$xTL: #ab2a06ff;
$xTR: #ff7f00ff;
$xBL: #d06a0bff;
$xBR: #ffc001ff;
