$bgTop: #1a1a1a;
$bgHighlight: #282828;
$bgBottom: #212121;
$font: rgb(220, 220, 220);
$fontDark: rgb(200, 200, 200);
$fontDisabled: rgb(106, 106, 106);
$outline: black solid 0.2pt;
$outlineInverted: $font solid 0.2pt;
$outlineActive: $fontDark solid 0.2pt;
$xTL: #ab2a06ff;
$xTR: #ff7f00ff;
$xBL: #d06a0bff;
$xBR: #ffc001ff;
$error: #ff4646;
$heightAfterNavbar: calc(100vh - 4.5em);
$shadow: 0 0 0.2em 0.1em rgba(15, 15, 15, 0.8);
$shadowPressed: 0 0 0.6em 0.3em rgba(15, 15, 15, 0.5);

.picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  box-shadow: $shadow;
  margin-right: 0.6em;
  object-fit: cover;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.link {
  color: #0066cc;
}

.backdropContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: black, $alpha: 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}

.padded {
  padding: 1em;

  h1 {
    margin: 0px;
  }
}
