$bgTop: #1a1a1a;
$bgBottom: #212121;
$font: rgb(220, 220, 220);
$fontDark: rgb(200, 200, 200);
$outline: black solid 0.2pt;
$outlineInverted: $font solid 0.2pt;
$outlineActive: $fontDark solid 0.2pt;
$xTL: #ab2a06ff;
$xTR: #ff7f00ff;
$xBL: #d06a0bff;
$xBR: #ffc001ff;
$error: #ff4646;

.button {
    font-size: 1em;
    background-color: $bgBottom;
    color: white;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    margin: 0.4em;
    outline: $outline;
    white-space: nowrap;
}

.button:hover {
    outline: $outlineInverted;
}

.button:active {
    outline: $outlineActive;
    color: $fontDark;
}

.button:disabled,
.button:disabled {
    cursor: default;
    color: $fontDark;
    outline: $outline;
}

.button:disabled:hover {
    background-color: $bgTop;
}

.backdropContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}

.text {
    composes: button;
    display: block;
    cursor: auto;
}

.text:focus {
    outline: $outlineActive;
    color: $fontDark;
}

.padded {
    padding: 1em;

    h1 {
        margin: 0px;
    }
}
