@import "./Global.scss";

/*
Container holds the headerBar and the content divs.
This allows headerbar to have static height, while also having the content
div take the rest of the screen height.
*/

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.headerBar {
    background-color: $bgTop;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    align-items: center;
    color: $font;
    border-bottom: 0.5em solid;
    border-image: linear-gradient(to right, $xTL, $xTR, $xTL, $xTR, $xTL, $xTR)
        1;
}

.headerBar > div {
    display: flex;
    align-items: center;
}

.headerBar > div:nth-of-type(2) {
    flex: 1;
}

.headerBar > div:nth-of-type(3) {
    overflow-x: scroll;
}

.logo {
    height: 2em;
    margin: 0.5em 1em 0.5em 0em;
}
