@import "./Global.scss";

.message {
    font-size: 1em;
    padding: 0.5em;
    color: $fontDark;
}

.messageContent {
    display: flex;
    align-items: center;
}

.picture {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    outline: $outline;
    margin-right: 0.6em;
    object-fit: cover;
}

.username {
    color: $font;
}

.message:hover {
    background-color: $bgTop;
}

.clientMessage {
    composes: message;
    color: $fontDisabled;
}

.date {
    font-size: 0.7em;
    color: $fontDisabled;
}
