@import "./Global.scss";

.link {
    color: rgb(0, 110, 255);
    text-decoration: none;
    transition: 0.3s;
}

.link:hover {
    color: rgb(0, 80, 185);
}

.twemoji {
    height: 1.5em;
}

.bigTwemoji {
    height: 3em;
}

.container > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
