@import "./Global.scss";

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.messageList {
    height: calc(100vh - 4em - 6em);
    overflow-y: scroll;
}

.messageBox {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid black;
    flex: 1;
}

.messageBox > form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 1em 0em 1em;
}

.messageText {
    composes: text;
    background-color: $bgTop;
}
