@import "./Global.scss";

.messageBox {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid black;
    flex: 1;
}

.messageBox > form {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0em 1em 0em 1em;
}

.messageText {
    composes: text;
    background-color: $bgTop;
    flex: 1;
}
