@import "./Global.scss";

.messageBox {
    display: flex;
    box-sizing: border-box;
    border-top: 1px solid black;
    flex: 1;
}

.messageBox > form {
    flex: 1;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}
