@import "./Global.scss";

.wrap {
    word-wrap: anywhere;
}

.message {
    font-size: 1em;
    padding: 0.5em;
    color: $fontDark;
}

.messageContent {
    display: flex;
}

.username {
    color: $font;
}

.message:hover {
    background-color: $bgTop;
}

.clientMessage {
    composes: message;
    color: $fontDisabled;
}

.date {
    font-size: 0.7em;
    color: $fontDisabled;
}
