@import "./Global.scss";

.sidebar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    margin: 0px;
  }
}

.box {
  background-color: $bgBottom;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid black;
}

.arrow {
  composes: button;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channels {
  flex: 1;
  overflow-y: scroll;
}

.channel {
  background-color: $bgBottom;
  list-style: none;
  margin: 0.4em;
  padding: 0.8em;
  border-radius: 1em;
  cursor: pointer;
  outline: $outline;
  text-align: center;
}

.channel:hover {
  outline: $outlineActive;
}

.selectedOuter {
  composes: channel;
  background: linear-gradient(to right, $xTL, $xTR);
  padding: 2px;
}

.selectedInner {
  composes: channel;
  padding: calc(0.8em - 2px);
  outline: none;
  margin: 0px;
}

.selectedInner:hover {
  outline: none;
}

.notAuthSidebar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
